@font-face {
    font-family: 'Lato';
    src: url(./fonts/Lato-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.main {
    font-family: 'Lato';
    width: 100%;
}

.menu {
    margin: 0 auto;
    width: 100%;
    background-color: #222;
}

.menu .all_menu {
    padding-left: 231px;
    padding-right: 231px;
    margin: 0 auto;
    max-width: 1600px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .all_menu .logo__search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 49px;
}

.menu .all_menu .logo__search .logo {
    max-width: 44px;
    max-height: 38px;
}

.menu .all_menu .logo__search .search {
    max-width: 26px;
    max-height: 27px;
}

.menu .all_menu .base__menu {
    display: flex;
    justify-content: space-between;
    width: 159px;
    height: 29px;
}

.content {
    width: 100%;
}

.preview {
    background-color: #F1E4E6;
}

.content__box__one {
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    gap: 64.5px;
}

.content__box__one__img {
    max-width: 800px;
    max-height: 764px;
}

.content__box__one__img img {
    width: 100%;

    min-width: 100%;
}

.content__box__one .content__box__one__text .line {
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
}

.content__box__one .content__box__one__text {
    display: flex;
    gap: 16px;
    align-items: center;
}

.content__box__one .content__box__one__text .text .text_one {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.content__box__one .content__box__one__text .text .text_two {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content__box__one .content__box__one__text .text .text_tree {
    color: #F16D7F;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content__box__two .content__box__two__sale .background {
    max-width: 360px;
    max-height: 260px;
}

.content__box__two .content__box__two__sale .background img {
    width: 100%;

    min-width: 100%;
}

.content__box__two .box__one {
    max-width: 360px;
    max-height: 260px;
    position: relative;
}

.content__box__two .content__text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__box__two .content__box__two__sale {
    padding-top: 65px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.content__box__two .text_one {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__box__two .text_two {
    color: #F16D7F;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content__box__two .box__two {
    max-width: 360px;
    max-height: 260px;
    position: relative;
}

.content__box__two .box__tree {
    max-width: 360px;
    max-height: 260px;
    position: relative;
}

.content__box__two .content__box__two__center .background {
    max-width: 1140px;
    max-height: 180px;
}

.content__box__two .content__box__two__center .background img {
    width: 100%;

    min-width: 100%;
}

.content__box__two .content__box__two__center {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 1140px;
    max-height: 180px;
    position: relative;
}

.content__box__tree .text__head {
    padding-top: 96px;
    text-align: center;
}

.content__box__tree .text__head .text_one {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__box__tree .text__head .text_two {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container__one {
    padding-top: 48px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.container__one .box .product_img {
    max-width: 360px;
    max-height: 420px;
}

.container__one .box .product_img img {
    max-width: 100%;
    width: 100%;
}

.container__one .content__text {
    display: flex;
    max-width: 360px;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.content__box__tree .container__one .text_one {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__box__tree .container__one .text_two {
    max-width: 315px;
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.content__box__tree .container__one .text_tree {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .menu .all_menu {
        padding-left: 32px;
        padding-right: 41px;
    }
    .preview .content__box__one .content__box__one__img {
        max-width: 386px;
        max-height: 368px;
    }

    .preview .content__box__one .content__box__one__text .text .text_one {
        font-size: 44px;
    }

    .preview .content__box__one .content__box__one__text .text .text_two {
        font-size: 24px;
    }

    .preview .content__box__one .content__box__one__text .text .text_tree {
        font-size: 24px;
    }
    .content__box__two .content__box__two__sale {
        gap: 19.4px;
    }
    .content__box__two .content__box__two__sale .background {
        max-width: 232px;
        max-height: 168px;
    }

    .content__box__two .content__box__two__center {
        padding-top: 19px;
        max-width: 735px;
        max-height: 116px;
    }
    .content__box__two .content__box__two__center .background {
        max-width: 735px;
        max-height: 116px;
    }
    .content__box__tree .container__one {
        gap: 16px;
    }
}