@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.main {
    font-family: 'Lato';
    width: 100%;
}

.menu {
    margin: 0 auto;
    width: 100%;
    background-color: #222;
}

.menu .all_menu {
    padding-left: 231px;
    padding-right: 231px;
    margin: 0 auto;
    max-width: 1600px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .all_menu .logo__search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 49px;
}

.menu .all_menu .logo__search .logo {
    max-width: 44px;
    max-height: 38px;
}

.menu .all_menu .logo__search .search {
    max-width: 26px;
    max-height: 27px;
}

.menu .all_menu .base__menu {
    display: flex;
    justify-content: space-between;
    width: 159px;
    height: 29px;
    align-items: center;
}

.offcanvas {
    height: 634px;
}

.list-unstyled li {
    list-style-type: none;
}

.list-unstyled a {
    text-decoration: none;
}

.list-unstyled .heading {
    color: rgb(241, 109, 127);
    font-size: 14px;
    margin-top: 1em;
}

.list-unstyled .submenu li {
    line-height: 1.8;
}

.list-unstyled .submenu a {
    color: rgb(111, 110, 110);
    font-size: 14px;

}

.content {
    width: 100%;
}

.preview {
    background-color: #F1E4E6;
}

.content__box__one {
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    gap: 64.5px;
}

.content__box__one__img {
    max-width: 800px;
    max-height: 764px;
}

.content__box__one__img img {
    width: 100%;

    min-width: 100%;
}

.content__box__one .content__box__one__text .line {
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
}

.content__box__one .content__box__one__text {
    display: flex;
    gap: 16px;
    align-items: center;
}

.content__box__one .content__box__one__text .text .text_one {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.content__box__one .content__box__one__text .text .text_two {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content__box__one .content__box__one__text .text .text_tree {
    color: #F16D7F;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content__box__two .content__box__two__sale .background {
    max-width: 360px;
    max-height: 260px;
}

.content__box__two .content__box__two__sale .background img {
    width: 100%;
    min-width: 100%;
}

.content__box__two .box__one {
    max-width: 360px;
    max-height: 260px;
    position: relative;
}

.content__box__two .content__text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__box__two .content__box__two__sale {
    padding-top: 65px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.content__box__two .text_one {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__box__two .text_two {
    color: #F16D7F;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content__box__two .box__two {
    max-width: 360px;
    max-height: 260px;
    position: relative;
}

.content__box__two .box__tree {
    max-width: 360px;
    max-height: 260px;
    position: relative;
}

.content__box__two .content__box__two__center .background {
    max-width: 1140px;
    max-height: 180px;
}

.content__box__two .content__box__two__center .background img {
    width: 100%;
    min-width: 100%;
}

.content__box__two .content__box__two__center {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 1140px;
    max-height: 180px;
    position: relative;
}

.content__box__two__center__mobile {
    display: none;
}

.content__box__two .background__mobile {
    position: relative;

}

.content__box__two .background__mobile .background__mobile__background {
    position: absolute;
    top: 0px;
}

.content__box__two .background__mobile img {
    max-width: 100%;
    width: 100%;
}

.content__box__tree .text__head {
    padding-top: 96px;
    text-align: center;
}

.content__box__tree .text__head .text_one {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__box__tree .text__head .text_two {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__box__tree .container__one {
    padding-top: 48px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.content__box__tree .container__one .box .product_img {
    max-width: 360px;
    min-height: 420px;
}

.content__box__tree .container__one .box .product_img .base__img {
    z-index: 0;
    position: relative;
    max-width: 100%;
    width: 100%;
}

.content__box__tree .container__one .box .product_img .base__img .base__img__product {
    max-width: 100%;
    width: 100%;
}

.content__box__tree .container__one .box .button__add {
    z-index: -1;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    min-height: 420px;
}

.content__box__tree .container__one .box .button__add__basket {
    text-decoration: none;
    padding-top: 14px;
    margin: 0 auto;
    width: 138px;
    height: 43px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
}

.content__box__tree .container__one .box .product_img:hover .button__add {
    background: rgba(58, 56, 56, 0.86);
    z-index: 1;
}

.content__box__tree .container__one .content__text {
    display: flex;
    max-width: 360px;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.content__box__tree .container__one .text_one {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__box__tree .container__one .text_two {
    max-width: 315px;
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.content__box__tree .container__one .text_tree {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button__all_Product {
    width: 211px;
    height: 47px;
    margin: 0 auto;
}

.button__all_Product .button__all {
    position: absolute;
    width: 211px;
    height: 47px;
    border: 1px solid rgb(255, 106, 106);
    background: #FFF;
    color: rgb(242, 99, 118);
    font-size: 16px;
    text-align: center;
}

.button__all_Product .button__all:hover {
    background: rgb(242, 99, 118);
    color: #FFF;
}

.content__box__four {
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgb(34, 34, 36);

}

.content__box__four .content__box__four__content {
    min-height: 341px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content__box__four .container__one {
    width: 360px;
    height: 134px;
}

.content__box__four .container__two {
    width: 360px;
    height: 134px;
}

.content__box__four .container__tree {
    width: 360px;
    height: 134px;
}

.content__box__four .img__logo {
    padding-left: 158px;
}

.content__box__four .text__one {
    padding-top: 28px;
    color: rgb(251, 251, 251);
    font-size: 19.96px;
    text-align: center;
}

.content__box__four .text__two {
    padding-top: 16px;
    color: rgb(251, 251, 251);
    font-size: 13.97px;
    text-align: center;
}

.content__box__five {
    position: relative;
    margin: 0 auto;
    max-width: 1600px;
    min-height: 448px;
    background-image: url('/img/background5.png');
    background-size: cover;
}



.content__box__five .content__box__five__content {
    padding-top: 86px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content__box__five .container__one {
    max-width: 359.45px;
    height: 225px;
}

.content__box__five .container__one .img__face {
    margin: 0 auto;
    width: 96px;
    height: 96px;
}

.content__box__five .container__one img {
    width: 100%;
    max-width: 100%;
    border-radius: 100%;
}

.content__box__five .container__two {
    max-width: 557px;
    height: 142px;
}

.content__box__five .content__box__five__content .text__one {
    color: rgb(34, 34, 36);
    font-family: 'Lato';
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

.content__box__five .content__box__five__content .text__two {
    color: rgb(34, 34, 36);
    font-family: 'Lato';
    font-size: 18px;
    text-align: center;
}

.input_info {
    padding-top: 32px;
    display: flex;
    justify-content: center;
}

.email__input .input__text {
    border: none;
    background: rgb(225, 225, 225);
    max-width: 236px;
    height: 49px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: rgb(34, 34, 36);
    font-family: 'Lato';
    font-size: 14px;
    padding-left: 22px;
}

.email__button .button__subscribe {
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100px;
    height: 49px;
    background: rgb(241, 109, 127);
    color: rgb(255, 255, 255);
    font-family: 'Lato';
    font-size: 14px;
    text-align: center;
}

.contacts {
    background-color: #000;
}

.contacts .contacts__container {
    min-height: 79px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contacts .contacts__container .text__contacts {
    color: rgb(251, 251, 251);
    font-size: 16px;
}

.contacts .contacts__container .container__link {
    display: flex;
    gap: 7px;
}

.contacts .contacts__container .link__network {
    width: 32px;
    height: 32px;
    background-color: #FFF;
}

.contacts .contacts__container .link__network:hover {
    background-color: rgb(241, 109, 127);
    ;
}

.contacts .contacts__container .link__network img {
    display: block;
    margin: auto;
    padding: 8px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .menu .all_menu {
        padding-left: 32px;
        padding-right: 41px;
    }

    .preview .content__box__one .content__box__one__img {
        max-width: 386px;
        max-height: 368px;
    }

    .preview .content__box__one .content__box__one__text .text .text_one {
        font-size: 44px;
    }

    .preview .content__box__one .content__box__one__text .text .text_two {
        font-size: 24px;
    }

    .preview .content__box__one .content__box__one__text .text .text_tree {
        font-size: 24px;
    }

    .content__box__two .content__box__two__sale {
        gap: 19.4px;
    }

    .content__box__two .content__box__two__sale .background {
        max-width: 232px;
        max-height: 168px;
    }

    .content__box__two .content__box__two__center {
        padding-top: 19px;
        max-width: 735px;
        max-height: 116px;
    }

    .content__box__two .content__box__two__center .background {
        max-width: 735px;
        max-height: 116px;
    }

    .content__box__tree .container__one {
        gap: 16px;
    }

    .content__box__four .content__box__four__content {
        flex-direction: column;
        height: 610px;
        gap: 48px;
    }

    .content__box__five .content__box__five__content {
        flex-direction: column;
        padding-top: 25px;
    }

}

@media (min-width: 320px) and (max-width: 767px) {
    .menu .all_menu {
        padding-left: 16px;
        padding-right: 16px;
    }

    .menu .all_menu .base__menu {
        width: 32px;
        height: 23px;
    }



    .reg__button img,
    .cart__button img {
        display: none;
    }

    .all__content .preview .content__box__one .content__box__one__img {
        display: none;
    }

    .all__content .preview {
        height: 363px;
    }

    .all__content .preview .content__box__one .content__box__one__text {
        margin: 0 auto;
        padding-top: 148px;
    }

    .preview .content__box__one .content__box__one__text .text .text_one {
        font-size: 38px;
    }

    .preview .content__box__one .content__box__one__text .text .text_two {
        font-size: 20px;
    }

    .preview .content__box__one .content__box__one__text .text .text_tree {
        font-size: 20px;
    }

    .content__box__two__center__mobile {
        margin: 0 auto;
        display: block;
        max-width: 343.26px;
        max-height: 111px;
    }

    .content__box__two__center .background {
        display: none;
    }

    .content__box__four .content__box__four__content {
        height: 610px;
        gap: 0px;
    }

    .contacts .contacts__container {
        height: 143px;
        flex-direction: column-reverse;
    }

    .content__box__tree .container__one .box .product_img {
        max-width: 320px;
    }

    .content__box__tree .container__one .box .button__add {
        width: 320px;

    }


    .content__box__five .content__box__five__content {
        padding-top: 15px;
    }

    .content__box__four .text__two {
        padding-top: 14px;
    }

    .content__box__four .img__logo {
        padding-left: 139px;
    }
}